<input type="radio" class="btn-check" name="Payment" id="option1" value="COD" autocomplete="off">
<label class="btn btn-outline-secondary" for="option1">Cash on Delivery</label>


<input type="radio" class="btn-check" name="Payment" id="option3" value="Card" autocomplete="off">
<label class="btn btn-outline-secondary" for="option3">Credit/Debit card</label>

<input type="radio" class="btn-check" name="Payment" id="option4" value="Number" autocomplete="off">
<label class="btn btn-outline-secondary" for="option4">Number</label>

<div class="form-container" id="COD">

    <h2>COD</h2>

</div>

<div class="form-container" id="Card">
    <!-- Form 2 content -->
    <h2>Card</h2>
    <!-- Add your form fields here -->

    <div class="padding">
        <div class="row">
            <div class="container-fluid d-flex justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <div class="card">
                        <div class="card-header">

                            <div class="row">
                                <div class="col-md-6">
                                    <span>CREDIT/DEBIT CARD PAYMENT</span>

                                </div>

                                <div class="col-md-6 text-right" style="margin-top: -5px;">

                                    <img src="https://img.icons8.com/color/36/000000/visa.png">
                                    <img src="https://img.icons8.com/color/36/000000/mastercard.png">
                                    <img src="https://img.icons8.com/color/36/000000/amex.png">

                                </div>

                            </div>

                        </div>
                        <form action="/user/payment" method="post">
                            <div class="card-body" style="height: 350px">
                                <div class="form-group">
                                    <label for="cc-number" class="control-label">CARD NUMBER</label>
                                    <input id="cc-number" name="card_number" type="tel"
                                        class="input-lg form-control cc-number" autocomplete="cc-number"
                                        placeholder="&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull;"
                                        required>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cc-exp" class="control-label">CARD
                                                EXPIRY</label>
                                            <input id="cc-exp" name="card_expiry" type="tel"
                                                class="input-lg form-control cc-exp" autocomplete="cc-exp"
                                                placeholder="&bull;&bull; / &bull;&bull;" required>
                                        </div>


                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cc-cvc" class="control-label">CARD CVC</label>
                                            <input id="cc-cvc" name="cvc" type="tel"
                                                class="input-lg form-control cc-cvc" autocomplete="off"
                                                placeholder="&bull;&bull;&bull;&bull;" required>
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label for="numeric" class="control-label">CARD HOLDER NAME</label>
                                    <input type="text" name="card_name" class="input-lg form-control">
                                </div>

                                <div class="form-group">

                                    <input value="MAKE PAYMENT" type="submit"
                                        class="btn btn-success btn-lg form-control" style="font-size: .8rem;">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="form-container" id="Number">
    <!-- Form 2 content -->
    <h2>Number</h2>
    <div class="padding">
        <div class="row">
            <div class="container-fluid d-flex justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <div class="card">
                        <div class="card-header">

                            <div class="row">
                                <div class="col-md-6">
                                    <span>NUMBER</span>

                                </div>

                                <div class="col-md-6 text-right" style="margin-top: -5px;">

                                    <img src="https://img.icons8.com/color/36/000000/visa.png">
                                    <img src="https://img.icons8.com/color/36/000000/mastercard.png">
                                    <img src="https://img.icons8.com/color/36/000000/amex.png">

                                </div>

                            </div>

                        </div>
                        <div class="card-body" style="height: 350px">
                            <div class="form-group">
                                <label for="cc-number" class="control-label">PHONE NUMBER</label>
                                <input id="cc-number" type="text" name="upi_id" class="input-lg form-control cc-number"`
                                    autocomplete="cc-number"
                                    placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
                            </div>


                            <!-- <div class="form-group">
                                <label for="numeric" class="control-label">PHONE HOLDER NAME</label>
                                <input type="text" class="input-lg form-control">
                            </div> -->

                            <div class="form-group">

                                <input value="MAKE PAYMENT" type="button" class="btn btn-success btn-lg form-control"
                                    style="font-size: .8rem;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>