<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Signin</title>
</head>

<body>
  <%- include('./partials/nav') %>

    <div class="form-popup">
      <div class="form-box login">
        <div class="form-content">
          <h2>LOGIN</h2>
          <form action="/user/signin" method="POST">
            <div class="input-field">
              <input type="email" name="email" placeholder="email" required>
              <label></label>
            </div>
            <div class="input-field">
              <input type="password" name="password" placeholder="password" required>
              <label></label>
            </div>
            <button>login</button>
          </form>
          <div class="bottom-link">
            Don't have an account?
            <a href="/register" id="signup-link">Signup</a>
          </div>
        </div>
      </div>

    </div>

    <%- include('./partials/scripts') %>
</body>

</html>