/* See More */
body {
    font-family: sans-serif;
    background-color: aliceblue
}

.sec1 {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;

}

.er {
    width: 432px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}

.sec1-div1 {
    width: 100%;
}

.head1 {
    width: 212px;
    height: 50px;
    /* display: -webkit-box; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img {
    width: 435px;
    height: auto;
    border-radius: 10px;
}

.sec1-div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-head-div2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec1-div1-p {
    font-size: 20px;
}

.securityStar {}

.Space {}

.Type {}

.button {
    width: 100%;
    /* height: 24px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: gray;
    width: 105px;
    height: 43px;
    border-radius: 7px;
    font-size: 20px;
    color: cornsilk;
    border: none;
    transition: all 0.375s;
    cursor: pointer;
}

.btn2{
    width: 130px;
}

.btn:hover {
    color: crimson;
    background-color: cornsilk;
}



/* RESPOSIVE */

/* 
Enrty ====> screen
1199  ====> 992
991 ====> 768
767 ====> 576
575 ====> 320 */

@media (max-width:1199px) {}

@media (max-width:991px) {}

@media (max-width:767px) {}

@media (max-width:565px) {
    .sec1 {
        height: 545px;
        padding: 23px 0px;
    }

    .sec1-div2 {}

}

@media (max-width:565px) {
    .er {
        width: 246px;
    }
}