/* Importing Google font - Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}




#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");


/* Home */
.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-link {
    color: #130d0d;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
    /* margin-right: 10px;   */
}

.home-link1 {
    color: #130d0d;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
    margin-right: 10px;
}

.home-link2 {
    color: #130d0d;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
    margin-right: 10px;
}

.home-h1 {
    position: relative;
    top: -30px;
}

/* .home-link{
    
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: url("pxfuel.jpg") center/cover no-repeat;
    background-color: aliceblue
}

header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .hamburger-btn {
    display: none;
    color: #090909;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo img {
    width: 40px;
    border-radius: 20%;
}

.navbar .logo h2 {
    color: #060606;
    font-weight: 10000;
    font-size: 2.0rem;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #120f0f;
    cursor: pointer;
}

.navbar .links a {
    color: #130d0d;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
}

.navbar .links a:hover {
    color: #ecf0eb;
}

.navbar .login-btn {
    border: none;
    outline: none;
    /* background: #f0f1ea; */
    /* color: #080807; */
    font-size: 11px;
    font-weight: 600;
    padding: 10px 5px;
    /* border-radius: 3px; */
}

.form-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #cf1717;
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    color: #1e1313;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .form-details {
    padding: 0 40px;
    background: url("");
    background-position: center;
    background-size: cover;
}

.signup .form-details {
    padding: 0 20px;
    background: url("");
    background-position: center;
    background-size: cover;
}

.form-box .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 35px;
    margin-top: 125px;
    background-color: white;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #ed540d;
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid #080b0c;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #5a3939;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #0b1508;
    font-size: 0.75rem;
}

.form-box a {
    color: #00bcd4;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #060e10;
    transition: 0.2s ease;
}

form button:hover {
    background: #b4eb45;
}

.form-content .bottom-link {
    text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

.signup .policy-text {
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}


/* Section 1 */


.sec1-div1 {
    display: flex;
    flex-direction: row;
}

.sec1-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.sec1-h1 {
    margin-bottom: 3%;
    font-size: 40px;
}

.sec1-inp1 {
    height: 38px;
    width: 90%;
    text-align: center;
}

.inp-class {
    display: flex;
    width: 90%;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-inp {
    background-color: #4CAF50;
    color: white;
    padding: 10px 39px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sec1-div3 {
    width: 50%;
}

@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar .logo img {
        display: none;
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }

    .navbar .links.show-menu {
        left: 0;
    }

    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #000;
    }

    .navbar .links a:hover {
        color: #00BCD4;
    }

    /* .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    } */
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}






/* Logout Button */
.logout {
    text-decoration: none;
    color: black;
}






/* Navbar */
header {
    left: 0;
    top: 0;
    width: 100%;
    height: 110px;
    display: flex;
    z-index: 1;
    background-color: #ffffff;
}

header .navbar {
    /* max-width: 752px; */
    width: 100%;
    margin: 0 auto;
}

.navbar-div1 {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}

.navbar-div2 {
    display: flex;
    align-items: center;
    width: auto;
}

.navbar-div2-btn {
    margin-right: 25px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 13px;
    padding: 6px 20px;
}

.navbar-div2-btn:hover {
    border: none;
    background-color: #d1820c;
}

.navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0px;
    padding-left: 0px;
}

.navbar .menu-links li a {
    color: rgba(0, 0, 0, 0.864);
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar .menu-links .language-item span {
    font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
    /* border-bottom: 1px solid black; */
    color: gray;
    transition: all 0.5s;
}

.navbar .menu-links .join-btn a {
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 4px;
}

.navbar .menu-links .join-btn a:hover {
    color: #fff;
    border-color: transparent;
    background: #1dbf73;
}



.navbar #hamburger-btn {
    color: #000000;
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
}

.navbar #close-menu-btn {
    position: absolute;
    display: none;
    color: #000;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
}

@media screen and (max-width: 900px) {
    header.show-mobile-menu::before {
        content: "";
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        backdrop-filter: blur(5px);
    }

    .navbar .menu-links {
        height: 100vh;
        max-width: 300px;
        width: 100%;
        background: #fff;
        position: fixed;
        right: -300px;
        top: 0;
        display: block;
        padding: 75px 40px 0;
        transition: right 0.2s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        right: 0;
    }

    .navbar .menu-links li {
        margin-bottom: 30px;
    }

    .navbar .menu-links li a {
        color: #000;
        font-size: 1.1rem;
    }

    .navbar .menu-links .join-btn a {
        padding: 0;
    }

    .navbar .menu-links .join-btn a:hover {
        color: #5e1dbf;
        background: none;
    }

    .navbar :is(#close-menu-btn, #hamburger-btn) {
        display: inline-block;
    }

    /* .nav-btn1 {
        display: none;
    } */

    .navbar-div2 {
        gap: 5px;
    }






}

.div-img {
    position: relative;
    display: flex;
    /* width: 25%; */
    justify-content: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-img {
    width: 60px;
    margin: 0px 10px 0px 0px;
}

.div-btn {
    width: auto;
    display: flex;
    align-items: center;
}

.b {
    margin-right: 20px;
    cursor: pointer;
    transition: 0.15s ease;
}

.b:hover {
    background: #53e60f;
}

.btn2 {
    background-color: white;
    color: black;
}

.nav-btn1 {
    width: 65px;
    height: 40px;
    color: #6f9730;
    background-color: white;
}

.nav-btn2 {
    border: 0px;
    background-color: white;
}

.bt {
    width: 20px;
    height: auto;
}

@media (max-width: 900px) {
    .div-img {
        width: 50%;
        justify-content: center;
    }

    .navbar-div2 {
        width: 50%;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .head-img {
        width: 50px;
    }
}